Hi!


<% movies.forEach((movie) => { %>
    <div style="border-width:2px; border-style:solid; border-color:black; margin: 10px; padding: 10px">
        <img src="<%- movie.image%>" alt="" style="width: 50px">
        <h3><%- movie.title %></h6>
            <a href="<%- movie._id%>">see more</a>
    </div>
    <% }) %>